:root {
  --palette-1: #57111A;
  --palette-2: #751917;
  --palette-3: #E62B27;
  --palette-4: #F29699;
  --palette-5: #CDE6D6;
  --palette-6: #8FCBB2;
  --palette-7: #476B5E;
  --palette-8: #E0ECCC;
  --palette-9: #F3F8EC;
}
