---
import Layout from '../layouts/Layout.astro';
import AboutSection from '../sections/AboutSection.astro';
import MembersSection from '../sections/MembersSection.astro';
---

<Layout>
  <div style="display: flex; flex-direction: column; gap: 5rem; margin-bottom: 5rem;">
    <AboutSection
      imgSrc="/assets/MascotaMermeladaGames.webp"
      title="About Us"
      text="Mermelada Games was born from the passion to create unique experiences for all players. We strive to innovate and bring joy through every game we make."
      imgPosition="left"
    />
    <AboutSection
      imgSrc="/assets/Logo.svg"
      title="Mission"
      text="We believe in the power of games to connect people and tell unforgettable stories. Our mission is to inspire, entertain, and build a vibrant gaming community."
      imgPosition="right"
    />

    <MembersSection />
  </div>
</Layout>
