---

import Layout from '../../layouts/Layout.astro';
import AboutSection from '../../sections/AboutSection.astro';
import MembersSection from '../../sections/MembersSection.astro';
import GallerySection from '../../sections/GallerySection.astro';
import { getLangStaticPaths, t } from '../../utils/i18n.js';

export async function getStaticPaths() {
  return getLangStaticPaths();
}
---

<Layout description={t('meta-about-description', Astro.params.lang)}>
  <div class="about-page-sections">
    <AboutSection
      imgSrc="/assets/mermeSvg2.svg"
      title={t('about-title', Astro.params.lang)}
      text={t('about-text', Astro.params.lang)}
      imgPosition="left"
    />
    
    <GallerySection />
    
    <AboutSection
      imgSrc="/assets/about1.webp"
      title={t('mission-title', Astro.params.lang)}
      text={t('mission-text', Astro.params.lang)}
      imgPosition="right"
      imgSize="large"
    />

    <MembersSection />
  </div>
</Layout>


<style>
  .about-page-sections {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 2.5rem;
  }
  @media (max-width: 767px) {
    .about-page-sections {
      gap: 2.5rem !important;
      margin-bottom: 2.5rem !important;
    }
  }
</style>
