---
import GameContainer from '../components/GameContainer.astro';
---

<section style="display: flex; flex-direction: column; gap: 4rem; justify-content: center;">
  <div style="display: flex; flex-direction: column; gap: 0; height: 200vh; justify-content: center;">
    <GameContainer
      imgSrc="/assets/carlos_gonzalez.webp"
      title="MOTS"
      buttonText="VIEW THE GAME"
      buttonLink="#"
      imgAlt="Mots"
    />
    <GameContainer
      imgSrc="/assets/miguel_Iglesias.webp"
      title="ARES ATLAS"
      buttonText="VIEW THE GAME"
      buttonLink="#"
      imgAlt="Ares Atlas"
    />
    <GameContainer
      imgSrc="/assets/lluc_cid.webp"
      title="MIND'S ABYSS"
      buttonText="VIEW THE GAME"
      buttonLink="#"
      imgAlt="Mind's Abyss"
    />
    <GameContainer
      imgSrc="/assets/sergio_fernandez.webp"
      title="STELAR"
      buttonText="VIEW THE GAME"
      buttonLink="#"
      imgAlt="Stelar"
    />
  </div>
</section>
