---
const lang = Astro.params?.lang;
import GameContainer from '../components/GameContainer.astro';
import { t } from '../utils/i18n.js';
---

<section class="games-section">
  <div class="games-list">
    <GameContainer
      imgSrc="/assets/mots.webp"
      title="MOTS"
      buttonText={t('view-game', lang)}
      buttonLink={`/${lang}/game`}
      imgAlt="Mots"
    />
    <GameContainer
      imgSrc="/assets/aresatlas.webp"
      title="ARES ATLAS"
      buttonText={t('view-game', lang)}
      buttonLink={`/${lang}/game`}
      imgAlt="Ares Atlas"
    />
    <GameContainer
      imgSrc="/assets/mindabyss.webp"
      title="MIND'S ABYSS"
      buttonText={t('view-game', lang)}
      buttonLink={`/${lang}/game`}
      imgAlt="Mind's Abyss"
    />
    <GameContainer
      imgSrc="/assets/stelar.webp"
      title="STELAR"
      buttonText={t('view-game', lang)}
      buttonLink={`/${lang}/game`}
      imgAlt="Stelar"
    />
</div>
<div class="games-scroll-spacer"></div>
</section>
<style>
  .games-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
  }
  .games-list {
    display: flex;
    flex-direction: column;
    gap: 0;
    height: 200vh;
    justify-content: center;
  }
  .games-scroll-spacer {
    width: 100%;
    height: 0;
    pointer-events: none;
    transition: height 0.3s;
  }
  .games-scroll-spacer.active {
    height: 100vh;
  }
</style>
