<section class="hero-video-section">
    <video class="hero-video-bg" autoplay loop muted playsinline poster="/assets/MermeladaGames.svg">
        <source src="/assets/video.mp4" type="video/mp4">
    </video>
</section>

<style>
.hero-video-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

@media (max-width: 767px) {
  
  .hero-video-bg {
    object-fit: contain;
    object-position:center;
  }
}
</style>
