---
import MemberCard from '../components/MemberCard.astro';
import { t } from '../utils/i18n.js';
const lang = Astro.params?.lang;
const members = [
  {
    imgSrc: "/assets/carlos_gonzalez.webp",
    name: "CARLOS GONZÁLEZ",
    role: t('role-artist', lang),
    socials: [
      { url: "https://github.com/gosu00", icon: "/assets/github.svg", alt: "GitHub Carlos" },
      { url: "https://www.linkedin.com/in/carlos-gonz%C3%A1lez-subir%C3%B3n-45ab7722a/", icon: "/assets/linkedin.svg", alt: "LinkedIn Carlos" },
      { url: "https://www.artstation.com/gosu00", icon: "/assets/web.svg",  alt:"ArtStation Carlos" }
    ]
  },
  {
    imgSrc: "/assets/miguel_Iglesias.webp",
    name: "MIGUEL IGLESIAS",
    role: t('role-designer-artist', lang),
    socials: [
      { url: "https://github.com/MiguelIglesiasAbarca", icon: "/assets/github.svg", alt: "GitHub Miguel" },
      { url: "https://www.linkedin.com/in/miguel-iglesias-abarca/", icon: "/assets/linkedin.svg", alt: "LinkedIn Miguel" },
      { url: "https://migueliglesiasabarca.github.io/", icon: "/assets/web.svg", alt: "Personal Website Miguel" }
    ]
  },
  {
    imgSrc: "/assets/lluc_cid.webp",
    name: "LLUC CID",
    role: t('role-designer', lang),
    socials: [
      { url: "https://github.com/Lluccib", icon: "/assets/github.svg", alt: "GitHub Lluc" },
      { url: "https://www.linkedin.com/in/lluc-cid-i-bernal-193843251/", icon: "/assets/linkedin.svg", alt: "LinkedIn Lluc" },
      { url: "https://lluccid.itch.io/", icon: "/assets/web.svg", alt: "Itch.io Lluc" }
    ]
  },
  {
    imgSrc: "/assets/sergio_fernandez.webp",
    name: "SERGIO FERNÁNDEZ",
    role: t('role-programmer', lang),
    socials: [
      { url: "https://github.com/Serfercont", icon: "/assets/github.svg", alt: "GitHub Sergio" },
      { url: "https://www.linkedin.com/in/sergio-fernandez-contreras-5a57a0233/", icon: "/assets/linkedin.svg", alt: "LinkedIn Sergio" },
      { url: "https://serfercont.itch.io/", icon: "/assets/web.svg", alt: "Itch.io Sergio" }
    ]
  },
  {
    imgSrc: "/assets/guillem_alqueza.webp",
    name: "GUILLEM ALQUEZA",
    role: t('role-programmer-audio', lang),
    socials: [
      { url: "https://github.com/guillemalqueza", icon: "/assets/github.svg", alt: "GitHub Guillem" },
      { url: "https://www.linkedin.com/in/guillemalqueza/", icon: "/assets/linkedin.svg", alt: "LinkedIn Guillem" },
      { url: "https://guillemalqueza.github.io/", icon: "/assets/web.svg", alt: "Personal Website Guillem" }
    ]
  }
];
---

<section class="members-section">
  <h2 class="members-title">{t('team', lang)}</h2>
  <div class="members-list">
    {members.map(member => (
      <MemberCard {...member} />
    ))}
  </div>
</section>
<style>
  .members-section {
    margin-top: 5rem;
  }
  .members-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .members-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
  }
</style>