---
import '../styles/global.css';
import Header from '../sections/Header.astro';
import Footer from '../sections/Footer.astro';
import { ClientRouter } from 'astro:transitions';
const { name, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">

		<link rel="icon" type="image/svg+xml" href="/assets/mermeSvg1.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{name ? `${name} - Mermelada Games` : "Mermelada Games"}</title>
		{description && <meta name="description" content={description} />}
		<ClientRouter />
	</head>
	<body>
		<div class="layout-wrapper">
			<Header />
			<main class="layout-main">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	.layout-wrapper {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	.layout-main {
		flex: 1 0 auto;
		width: 100%;
		margin-top: 80px;
	}

	@media (max-width: 767px) {
		.layout-main {
			margin-top: 67px;
		}
	}

	@view-transition {
		navigation: auto;
	}

	::view-transition-old(root),
	::view-transition-new(root) {
		animation-duration: 0.5s;
		animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
</style>
